In [4]:
'''
TESTING OUT QUERIES FOR SUB TASK A
'''
print()

### Importing required libraries

In [5]:
import sqlite3
import numpy as np
import pandas as pd

### Global variables

In [6]:
DATABASE = '../datasets/climate.db'

### Landing page stats

In [7]:
with sqlite3.connect(DATABASE) as con:
    most_weather_stations_query = (
        """
        select state_name
        from states
        where state_id = (
            select state_id
            from weather_stations
            group by state_id
            order by count(site_id) desc
            limit 1
        );
        """
    )
    
    state = pd.read_sql_query(most_weather_stations_query,con).loc[0,"state_name"]

state

'QLD'

In [8]:
with sqlite3.connect(DATABASE) as con:
    hottest_year_query = (
        """
            select strftime('%Y',DMY) as year, AVG((MaxTemp + MinTemp) / 2) as avg_temp
            from bom_data
            group by strftime('%Y',DMY) 
            order by 2 desc
            limit 1;
        """
    )

    hottest_year = pd.read_sql_query(hottest_year_query, con).loc[0,"year"]

hottest_year

'2019'

In [9]:
with sqlite3.connect(DATABASE) as con:
    pct_change_avg_temp_query = (
        """
            select strftime('%Y',DMY) as year, AVG((MaxTemp + MinTemp) / 2) as avg_temp
            from bom_data
            where year in ('2020','1970') 
            group by strftime('%Y',DMY) 
            order by 1 desc;
        """
    )

    pct_change_avg_temp_table = pd.read_sql_query(pct_change_avg_temp_query, con)

pct_change_avg_temp_table

   year   avg_temp
0  2020  19.583691
1  1970  18.533930

In [10]:
avg_temp_2020 = pct_change_avg_temp_table.loc[0,"avg_temp"]
avg_temp_1970 = pct_change_avg_temp_table.loc[1,"avg_temp"]

round(float(100 * ((avg_temp_2020 - avg_temp_1970) / avg_temp_1970)),1)

5.7

In [11]:
with sqlite3.connect(DATABASE) as con:
    pct_change_rainfall_query = (
        """
            select strftime('%Y',DMY) as year, SUM(Precipitation) as total_precipitation
            from bom_data
            where year in ('2020','1970') 
            group by strftime('%Y',DMY) 
            order by 1 desc;
        """
    )

    pct_change_rainfall_table = pd.read_sql_query(pct_change_rainfall_query, con)

pct_change_rainfall_table

   year  total_precipitation
0  2020             100304.9
1  1970              93933.8

In [12]:
total_rainfall_2020 = pct_change_rainfall_table.loc[0,"total_precipitation"]
total_rainfall_1970 = pct_change_rainfall_table.loc[1,"total_precipitation"]

round(float(100 * ((total_rainfall_2020 - total_rainfall_1970) / total_rainfall_1970)),1)

6.8